page-home {

    .span-calc
    {
        
        background: black;
        // border: 5px solid red;
        font-size: 70px;
        color:white; 
        // padding: 25px 10px 30px 0px;
        // min-width: 100%;
    }

    .for-all-buttons .button
    {
        padding: 35px
    }

    .for-all-buttons ion-row
    {
        margin-bottom: 30px;
    }

    .for-all-buttons ion-col
    {
        padding: 0px;
    }

    
}